<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Setup</servlet-name>
    <servlet-class>com.mh.web.welcome.Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.mh.web.autenticazione.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutCheck</servlet-name>
    <servlet-class>com.mh.web.autenticazione.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.mh.web.gestioneClienti.Signin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRegisteredUser</servlet-name>
    <servlet-class>com.mh.web.gestioneClienti.RegisteredUserList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseDetails</servlet-name>
    <servlet-class>com.mh.web.gestioneAcquisti.PurchaseDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDataImport</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.AsyncXMLImport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDataExport</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.AsyncXMLExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendNotification</servlet-name>
    <servlet-class>com.mh.web.notifiche.NotificationSender</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DatabaseManager</servlet-name>
    <servlet-class>com.mh.web.database.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchProducts</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.FetchProducts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.mh.web.gestioneAcquisti.AddToCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartProducts</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.FetchCartProducts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.mh.web.gestioneAcquisti.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.InsertProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkProductAsDeleted</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.UpdateProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Product Research</servlet-name>
    <servlet-class>com.mh.web.gestioneMagazzino.ProductSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.mh.web.gestioneClienti.UsernameCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Report</servlet-name>
  	<servlet-class>com.mh.web.report.ReportEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutCheck</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/signin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRegisteredUser</servlet-name>
    <url-pattern>/getUserList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseDetails</servlet-name>
    <url-pattern>/purchaseDetails.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDataImport</servlet-name>
    <url-pattern>/productImport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDataExport</servlet-name>
    <url-pattern>/productExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendNotification</servlet-name>
    <url-pattern>/notify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseManager</servlet-name>
    <url-pattern>/manageDatabase.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchProducts</servlet-name>
    <url-pattern>/fetchProducts.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartProducts</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/insertProduct.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkProductAsDeleted</servlet-name>
    <url-pattern>/deleteProduct.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/updateProduct.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Product Research</servlet-name>
    <url-pattern>/searchProduct.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Report</servlet-name>
  	<url-pattern>/report.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>sbrighienrico</param-value>
  </context-param>
  <context-param>
    <param-name>contextFilesPath</param-name>
    <param-value>/conf/Catalina/localhost</param-value>
  </context-param>
  <context-param>
    <param-name>xmlImportPath</param-name>
    <param-value>C:\sbrighienrico\static\xml\</param-value>
  </context-param>
  <context-param>
    <param-name>xmlExportPath</param-name>
    <param-value>C:\sbrighienrico\static\xml\</param-value>
  </context-param>
  <context-param>
    <param-name>profilePicturesPath</param-name>
    <param-value>C:\sbrighienrico\static\images\profiles\</param-value>
  </context-param>
  <context-param>
    <param-name>productPicturesPath</param-name>
    <param-value>C:\sbrighienrico\static\images\products\</param-value>
  </context-param>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>mariasbrighi@libero.it</param-value>
  </context-param>
  <context-param>
    <param-name>adminPhone</param-name>
    <param-value>324 984 3284</param-value>
  </context-param>
  <context-param>
    <param-name>adminFbPage</param-name>
    <param-value>https://www.facebook.com/MARIA-Handmade-660183007356211/</param-value>
  </context-param>
  <listener>
    <listener-class>com.mh.listener.LastAccessDate</listener-class>
  </listener>
  <listener>
    <listener-class>com.mh.listener.ContextXMLFile</listener-class>
  </listener>
  <listener>
    <listener-class>com.mh.listener.InitDatabase</listener-class>
  </listener>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>